<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.dao.UserDao">

    <select id="queryUser" resultType="com.supermarket.domain.UserImpl">
        select * from user
        <where>
            <if test="id != 0 and id != null">id = #{id}</if>
            <if test="username != null">and username = #{username}</if>
            <if test="password != null">and password = #{password}</if>
            <if test="nickname != null">and nickname = #{nickname}</if>
            <if test="email != null">and email = #{email}</if>
        </where>
    </select>

    <insert id="insertUser">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0 and id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="email != null">email,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0 and id != null">null,</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="email != null">#{email},</if>
        </trim>
    </insert>

</mapper>
