<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.product.dao.ProductDao">
    <insert id="insertProduct" parameterType="com.supermarket.common.domain.Product">
        insert into `t_product`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">`product_id`,</if>
            <if test="productName != null">`product_name`,</if>
            <if test="productPrice > 0">`product_price`,</if>
            <if test="productCategory != null">`product_category`,</if>
            <if test="productImgurl != null">`product_imgurl`,</if>
            <if test="productNum != 0">`product_num`,</if>
            <if test="productDescription != null">`product_description`,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productPrice > 0">#{productPrice},</if>
            <if test="productCategory != null">#{productCategory},</if>
            <if test="productImgurl != null">#{productImgurl},</if>
            <if test="productNum != 0">#{productNum},</if>
            <if test="productDescription != null">#{productDescription},</if>
        </trim>
    </insert>
    <update id="updateProduct" parameterType="com.supermarket.common.domain.Product">
        update `t_product`
        <set>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productPrice > 0">product_price = #{productPrice},</if>
            <if test="productCategory != null">product_category = #{productCategory},</if>
            <if test="productImgurl != null">product_imgurl = #{productImgurl},</if>
            <if test="productNum != 0">product_num = #{productNum},</if>
            <if test="productDescription != null">product_description = #{productDescription},</if>
        </set>
        where `product_id` = #{productId}
    </update>


    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from `t_product`;
    </select>

    <select id="queryProductsByPage" resultType="com.supermarket.common.domain.Product">
        select * from `t_product` limit #{start}, #{rows};
    </select>
    <select id="queryByProductId" resultType="com.supermarket.common.domain.Product">
        select * from `t_product` where `product_id` = #{productId};
    </select>

    <!--  查询全部商品  -->
    <select id="selectProducts" resultType="com.supermarket.common.domain.Product">
        select * from `t_product`;
    </select>


</mapper>












