<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--  web应用的初始化参数  -->
    <context-param>
        <param-name>datasource</param-name>
        <param-value>dbcp</param-value>
    </context-param>

    <!--  注册功能Servlet  -->
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>com.supermarket.servlet.RegistServlet</servlet-class>
        <init-param>
            <param-name>datasource</param-name>
            <param-value>c3p0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/RegistServlet</url-pattern>
    </servlet-mapping>

    <!--  查看用户名是否重复的ajax  -->
    <servlet>
        <servlet-name>AjaxUsernameServlet</servlet-name>
        <servlet-class>com.supermarket.servlet.AjaxUsernameServlet</servlet-class>
        <init-param>
            <param-name>datasource</param-name>
            <param-value>c3p0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxUsernameServlet</servlet-name>
        <url-pattern>/AjaxUsernameServlet</url-pattern>
    </servlet-mapping>

    <!--  用于生成验证码的servlet  -->
    <servlet>
        <servlet-name>ValiImgServlet</servlet-name>
        <servlet-class>com.supermarket.servlet.ValiImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValiImgServlet</servlet-name>
        <url-pattern>/ValiImgServlet</url-pattern>
    </servlet-mapping>

    <!--  登陆的servlet  -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.supermarket.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!--  注销servlet  -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.supermarket.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

</web-app>