body{
	background-image: url("../img/login/dl.jpg");
	background-position: top;
	font-family: "微软雅黑";
}
h1{
	width:300px;
	margin:210px auto 0px;
	text-align: center;
	color:#00716d;
	font-size:27px;
}
form{
	width:400px;
	margin: 10px auto 0px;
}

input[name='valistr']{
	width:80px;
}

img{
	vertical-align: top;
}

form input[type='text'],form input[type='password']{
	border: 1px solid #CCCCCC;
	height: 25px;
	line-height:25px;
	vertical-align: middle;
}

table{
	margin:0px auto 0px;
}
td{
	padding-top:10px;
}
.tdx{
	text-align: right;
}

input[type='submit']{
	background-image: url("../img/login/dlan01.jpg");
	margin-top: 12px;
	width:80px;
	height:38px;
	line-height:38px;
	border-style:none;
	font-size:17px;
	font-weight:bold;
	color:white;
	cursor: pointer;
}
input[type='submit']:hover{
	background-image: url("../img/login/dlan02.jpg");
}