<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.user.dao.UserDao">
    <insert id="insertUser" parameterType="com.supermarket.common.domain.User">
        insert into `t_user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">`user_id`, </if>
            <if test="userName != null">`user_name`, </if>
            <if test="userPassword != null">`user_password`, </if>
            <if test="userNickname != null">`user_nickname`, </if>
            <if test="userEmail != null">`user_email`, </if>
            <if test="userType != null">`user_type`, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId}, </if>
            <if test="userName != null">#{userName}, </if>
            <if test="userPassword != null">#{userPassword}, </if>
            <if test="userNickname != null">#{userNickname}, </if>
            <if test="userEmail != null">#{userEmail}, </if>
            <if test="userType != null">#{userType}, </if>
        </trim>
    </insert>

    <sql id="queryUserConditions">
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="userName != null">and user_name = #{userName}</if>
            <if test="userPassword != null">and user_password = #{userPassword}</if>
            <if test="userNickname != null">and user_nickname = #{userNickname}</if>
            <if test="userEmail != null">and user_email = #{userEmail}</if>
        </where>
    </sql>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.supermarket.common.domain.User">
        select count(1) from `t_user`
        <include refid="queryUserConditions"/>
    </select>

    <select id="selectUsers" resultType="com.supermarket.common.domain.User">
        select * from `t_user`
        <include refid="queryUserConditions"/>
    </select>

    <select id="selectUser" resultType="com.supermarket.common.domain.User">
        select * from `t_user`
        <include refid="queryUserConditions"/>
    </select>

</mapper>












