<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--  开启包扫描  -->
    <context:component-scan base-package="com.supermarket.web"/>
    <context:component-scan base-package="com.supermarket.service"/>
    <context:component-scan base-package="com.supermarket.dao"/>
    <context:component-scan base-package="com.supermarket.domain"/>
    <context:component-scan base-package="com.supermarket.utils"/>
    <context:component-scan base-package="com.supermarket.decorator"/>
    <context:component-scan base-package="com.supermarket.filter"/>
    <context:component-scan base-package="com.supermarket.aspect"/>
    <context:component-scan base-package="com.supermarket.interceptor"/>
    <!--  开启注解DI  -->
    <context:annotation-config/>
    <!--  开启注解AOP  -->
    <aop:aspectj-autoproxy/>

    <!--  这两个bean是用来给过滤器用的，因为过滤器使用时还没初始化Spring容器，需要手工注入  -->
    <bean class="com.supermarket.service.UserServiceImpl" id="userService"/>
    <bean class="com.supermarket.domain.UserImpl" id="user" scope="prototype"/>

    <!--  配置视图解析器  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--  配置注解MVC  -->
    <mvc:annotation-driven/>
    <!--  配置拦截器  -->
    <mvc:interceptors>
        <bean class="com.supermarket.interceptor.Logging" />
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <bean class="com.supermarket.interceptor.Logging" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--  配置连接池  -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/supermarket"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!--  整合mybatis  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:/com/supermarket/mapper/*.xml"/>
    </bean>
    <!--  配置mapper扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.supermarket.dao"/>
    </bean>
    <!--  配置事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--  开启注解事务管理-->
    <tx:annotation-driven/>
    <!--  配置JDBC模板类  -->
    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate" >
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>